mixin b-copyright({})
  .b-copyright
    div Фонбет Чемпионат Континентальной хоккейной лиги – чемпионат России по хоккею среди мужских команд, проводимый ООО "КХЛ", подробнее на www.khl.ru (http://www.khl.ru/). (http://www.khl.ru/) Товарные знаки и символика «КХЛ»/«KHL» принадлежат ООО "КХЛ".
    .b-copyright__age 18+
