include /components/card/c-group

mixin b-grid({})
  include /data/group-list-3
  section.b-grid
    .b-grid__title
      //- span 6-й раунд
      //- .b-grid__separate
      //- span Путь регионов
      span
      | ПЛЕЙ-ОФФ
      span
    .swiper.js-group-slider
      .b-grid__content.swiper-wrapper
        each it in groupList
          +c-group(it)
      .b-grid__bullet-list
