include /components/form/form-field

mixin form-field-group({ name, id, placeholder, isRequired })
  .f-field-group.js-field-group
    .f-field-group__el.js-field-group-example
      +form-field({
        name,
        id,
        isRequired,
        placeholder,
        className: "js-field-group-field"
      })
      button.f-field-group__btn.js-field-group-btn(type="button")
