-
  let groupList = [
    {
      title: "ПУТЬ РПЛ | 1/4 ФИНАЛА",
      matches: [
        {
          team1: "ЦСКА\nМосква",
          team2: "Рубин\nКазань",
          date: "26.11.2024",
          time: "20:30"
        },
        {
          team1: "Ахмат\nГрозный",
          team2: "Зенит\nСанкт‑Петербург",
          date: "27.11.2024",
          time: "18:15"
        },
        {
          team1: "Ростов\nРостов-на-Дону",
          team2: "Спартак\nМосква",
          date: "27.11.2024",
          time: "20:30"
        },
        {
          team1: "Локомотив\nМосква",
          team2: "Динамо\nМосква",
          date: "28.11.2024",
          time: "19:30"
        },
      ]
    },
    {
      title: "ПУТЬ РЕГИОНОВ | 1/4 ФИНАЛА",
      matches: [
        {
          team1: "Тюмень",
          team2: "Краснодар",
          date: "26.11.2024",
          time: "16:00"
        },
        {
          team1: "Шинник\nЯрославль",
          team2: "Акрон\nТольятти",
          date: "26.11.2024",
          time: "18:15"
        },
        {
          team1: "Урал\nЕкатеринбург",
          team2: "Химки",
          date: "27.11.2024",
          time: "16:00"
        },
        {
          team1: "Сочи",
          team2: "Динамо\nМахачкала",
          date: "27.11.2024",
          time: "18:15"
        },
      ]
    },
    //- {
    //-   title: "Группа C",
    //-   matches: [
    //-     {
    //-       team1: "цска",
    //-       team2: "ахмат",
    //-       date: "22.10.2024",
    //-       time: "20:45"
    //-     },
    //-     {
    //-       team1: "краснодар",
    //-       team2: "пари НН",
    //-       date: "24.10.2024",
    //-       time: "21:15"
    //-     },
    //-   ]
    //- },
    //- {
    //-   title: "Группа D",
    //-   matches: [
    //-     {
    //-       team1: "факел",
    //-       team2: "зенит",
    //-       date: "22.10.2024",
    //-       time: "16:15"
    //-     },
    //-     {
    //-       team1: "акрон",
    //-       team2: "рубин",
    //-       date: "23.10.2024",
    //-       time: "19:00 "
    //-     },
    //-   ]
    //- },
  ]
