-
  let groupList = [
    {
      title: "29 октября",
      matches: [
        {
          team1: "Тюмень",
          team2: "Амкар",
          date: "29.10.2024",
          time: "17:30"
        },
        {
          team1: "Балтика",
          team2: "Урал",
          date: "29.10.2024",
          time: "20:00"
        },
      ]
    },
    {
      title: "30 октября",
      matches: [
        {
          team1: "Шинник",
          team2: "Чайка",
          date: "30.10.2024",
          time: "17:45"
        },
        {
          team1: "Сочи",
          team2: "Спартак Кострома",
          date: "30.10.2024",
          time: "20:00"
        },
      ]
    },
  ]
