mixin accordion({ })
  .accordion.js-accordion
    button.accordion__btn.js-accordion-btn(type="button")
      .accordion__icon
        +svg({ name: "triangle", width: 10, height: 10 })
      span Порядок обработки персональных данных
    .accordion__content.js-accordion-content
      p.accordion__body Заполняя форму заявки на участие в Конкурсе, Участник подтверждает, что он согласен с тем, что в целях регистрации Участника, обеспечения его участия в Конкурсе, обработки его результатов, подведения итогов и вручения Призов, обратной связи с Участником по вопросам участия в Конкурсе, направления информации Участнику, в том числе рекламной, об иных акциях, связанных со спортивным соревнованием «Fonbet Кубок России по футболу», Организатор Конкурса (ООО «Будущее рекламы», ИНН 7702422736), Партнер 1 Конкурса (ООО «Яндекс.Еда», ИНН 9705114405), Партнер 2 Конкурса (ООО «Фонбет ТВ», ИНН 7703529560) и его *аффилированные лица могут посредством совершения действий, а именно: сбора, записи, систематизации, накопления, хранения, уточнения (обновления, изменения), извлечения, использования, передачи (предоставления, доступа), обезличивания, блокирования, удаления, уничтожения персональных данных; обрабатывать персональные данные Участника, включая указанные Участником при регистрации, а именно: ФИО, номер телефона и адрес электронной почты, а также иные персональные данные, направляемые Участником Организатору Конкурса, Партнеру 1 Конкурса и Партнеру 2 Конкурса в рамках Конкурса. Данное согласие действует в течение периода проведения Конкурса, а также в течение 3 лет после окончания указанного периода, если оно не будет отозвано ранее путем направления письменного заявления Организатору Конкурса, Партнеру 1 Конкурса, Партнеру 2 Конкурса и его *аффилированным лицам.
