.b-form {
  @include transition(height);
  padding: $apx-40 $apx-104;
  font-family: $font-default;
  font-weight: 500;
  text-align: center;
  color: $color-black;
  background-color: $color-white;
  border-radius: $apx-30;
  @include mobile {
    padding: $apx-m-37 $apx-m-14;
    border-radius: $apx-m-20;
  }
}
.b-form__title {
  width: $apx-540;
  margin: 0 auto;
  font-size: $apx-28;
  line-height: $apx-31;
  font-weight: 500;
  @include mobile {
    width: auto;
    font-size: $apx-m-25;
    line-height: $apx-m-29;
  }
}
.b-form__subtitle {
  width: $apx-540;
  margin: $apx-10 auto 0 auto;
  font-size: $apx-22;
  line-height: $apx-24;
  @include mobile {
    width: auto;
    margin-top: $apx-m-10;
    font-size: $apx-m-18;
    line-height: $apx-m-20;
  }
}
.b-form__content {
  width: $apx-495;
  margin: $apx-40 auto 0 auto;
  @include mobile {
    width: auto;
    margin-top: $apx-m-32;
  }
}
.b-form__success {
  padding: $apx-90 0;
  @include mobile {
    padding: $apx-m-100 0;
  }
}
.b-form__error {
  padding-top: $apx-90;
  color: $color-page;
  @include mobile {
    padding-top: $apx-m-100;
  }
}
.b-form__btn {
  margin-top: $apx-90;
  @include mobile {
    margin-top: $apx-m-100;
  }
}
